In [66]:
import numpy as np
import pandas as pd

## 1-Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [67]:
data = pd.Series([2,4,6,8])

In [68]:
data

0    2
1    4
2    6
3    8
dtype: int64

## 2- Write a Pandas program to convert a Panda module Series to Python list and it's type

In [69]:
type(data)

pandas.core.series.Series

In [70]:
data.tolist()

[2, 4, 6, 8]

In [71]:
type(data.tolist())

list

## 3 -Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [72]:
data1 = pd.Series([2,4,6,8,10])
data2 = pd.Series([1,3,5,7,9])

data1+data2

In [73]:
data1*data2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [74]:
data1/data2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## 4 Write a Pandas program to compare the elements of the two Pandas Series

In [75]:
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,10])

In [76]:
s1 == s2

0    False
1    False
2    False
3    False
4     True
dtype: bool

##  5. Write a Pandas program to convert a dictionary to a Pandas series

In [77]:
originalDictionary = {"a":100,"b":200,"c":300,"d":400,"e":800}

In [78]:
convertToPandas = pd.Series(originalDictionary)

In [79]:
convertToPandas

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [80]:
type(convertToPandas)

pandas.core.series.Series

## 6. Write a Pandas program to convert a NumPy array to a Pandas series

In [81]:
numpyArray = [10,20,30,40,50]
numpyToPandas = pd.Series(numpyArray)

In [82]:
numpyToPandas

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [83]:
type(numpyToPandas)

pandas.core.series.Series

## 7. Write a Pandas program to change the data type of given a column or a Series.

In [84]:
s1 = pd.Series(["100","200","python","300.12","400"])

In [85]:
s2 = pd.to_numeric(s1,errors = "coerce")

In [86]:
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

## 8. Write a Pandas program to convert the first column of a DataFrame as a Series

In [87]:
d = {"col1":[1,2,3,4,7,11],"col2":[4,5,6,9,5,0],"col3":[7,5,8,12,1,11]}

In [88]:
d

{'col1': [1, 2, 3, 4, 7, 11],
 'col2': [4, 5, 6, 9, 5, 0],
 'col3': [7, 5, 8, 12, 1, 11]}

In [89]:
df = pd.DataFrame(data = d)

In [90]:
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [91]:
 k1 = df.ix[:,0]  ## hata veriyor

AttributeError: 'DataFrame' object has no attribute 'ix'

## 9. Write a Pandas program to convert a given Series to an array.

In [92]:
s1 = pd.Series(["100","200","python","300.12","400"])

In [93]:
s1ToArray = np.array(s1)

In [94]:
s1ToArray

array(['100', '200', 'python', '300.12', '400'], dtype=object)

In [95]:
type(s1ToArray)

numpy.ndarray

## 10. Write a Pandas program to convert Series of lists to one Series

In [96]:
## simpleSeries = {["Red","Green","White"],["Red","Black"],["Yellow"]}

In [97]:
s = pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])

In [98]:
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [99]:
s = s.apply(pd.Series).stack().reset_index(drop = True)

In [100]:
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [101]:
type(s)

pandas.core.series.Series

## Write a Pandas program to sort a given Series sort = sınıflandırma, cins, sıralama

In [102]:
s = pd.Series(["100","200","python","300.12","400"])

In [103]:
new_s = pd.Series(s).sort_values()

In [104]:
new_s

0       100
1       200
3    300.12
4       400
2    python
dtype: object

## 12. Write a Pandas program to add some data to an existing Series.

In [105]:
s = pd.Series(["100","200","python","300.12","400"])

In [106]:
s1 = pd.Series(["500","php"])

In [108]:
pd.concat([s,s1])

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

##  13. Write a Pandas program to create a subset of a given series based on value and condition sunset alt küme

In [110]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])

In [112]:
ns = s[s<6]

In [113]:
ns

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

## 14. Write a Pandas program to change the order of index of a given series. Go to the editor
## Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5

In [114]:
a = pd.Series(data = [1,2,3,4,5], index = ["A","B","C","D","E"])

In [117]:
a

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [115]:
a = a.reindex(index = ["B","A","C","D","E"])

In [116]:
a

B    2
A    1
C    3
D    4
E    5
dtype: int64

## 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series

In [120]:
s = np.arange(0,11)

In [121]:
s

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [123]:
s.mean()  ## ortalama

5.0

In [125]:
s.std()  ##standart sapma

3.1622776601683795