# Veri bilimi İçin İstatistik

In [2]:
import numpy as np

## Örnek  Teorisi

In [3]:
populasyon = np.random.randint(0,80,10000)
populasyon[0:10]

array([10, 70, 79, 73, 22, 64, 79, 28,  5, 36])

In [4]:
#orneklem cekimi
np.random.seed(115) # tekrarlanınca aynılarını getirmesi için
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([73, 30, 40, 29, 29, 58, 63, 25, 30, 55])

In [5]:
orneklem.mean()

39.47

In [6]:
populasyon.mean()

39.2994

## Orneklem Dağılımı

In [9]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [13]:
(orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+orneklem9.mean()+orneklem10.mean())/10

38.1

# Betimsel İstatistikler

In [15]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [17]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

### researchpy kütüphanesi ile veri betimleme

In [19]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\lenovo\anaconda3\lib\site-packages (0.3.5)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.4.4)
Requirement already satisfied: statsmodels in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.22.3)
Requirement already satisfied: patsy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.10.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\lenovo\anaconda3\lib\site-packages (from statsmodels->researchpy) (22.0)

In [20]:
rp.summary_cont(df[["total_bill","tip","size"]]) #sayısal değişkenler için çıkarımlar

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [22]:
rp.summary_cat(df[["sex","smoker","day"]]) #kategorik değişkenler için çıkarımlar

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [23]:
# kovaryans --> değişenlik ölçüsü
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [24]:
#korelasyon --> değişkenler arası ilişki
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

## Güven Aralıkları Uygulaması

In [25]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)
fiyatlar.mean()

58.492

In [26]:
import statsmodels.stats.api as sms

In [27]:
sms.DescrStatsW(fiyatlar).tconfint_mean() #güven aralığı

(56.67953887736034, 60.30446112263965)

# Olasılık Dağılımları
## Bernoulli Dağılımı

${\displaystyle f(k;p)=p^{k}(1-p)^{1-k}\quad {\text{for }}k\in \{0,1\}}$


${\displaystyle \operatorname {E} \left(X\right)=p}$

$\operatorname {Var} [X]=pq=p(1-p)$

In [1]:
from scipy.stats import bernoulli

In [2]:
p =0.6
rv = bernoulli(p)
rv.pmf(k = 1)

0.6

In [3]:
rv.pmf(k = 0)

0.4

## Binom dağılımı uygulaması

${\displaystyle f(k;n,p)={n \choose k}p^{k}(1-p)^{n-k}}$, k = 0, 1, 2, ...,n


${\displaystyle \operatorname {E} (X)=np}$


${\displaystyle \operatorname {Var} (X)=np(1-p)}$

In [4]:
from scipy.stats import binom
p = 0.01 # olasılık
n = 100 #deneme
rv = binom(n,p)
print(rv.pmf(1)) #pmf olasılık kütle fonksiyonu
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764972666
0.0028977871237614783
7.006035693977194e-08

## Poisson Dağılımı

${\displaystyle f(x,\lambda )={\frac {\lambda ^{x}e^{-\lambda }}{x!}}\,\!}$,  x = 0,1,2,...,n

In [8]:
from scipy.stats import poisson
lambda_ = 0.1
rv = poisson(mu = lambda_) # lamda değeri
print(rv.pmf(k = 0))
print(rv.pmf(k = 3))
print(rv.pmf(k = 5))

0.9048374180359595
0.00015080623633932676
7.54031181696634e-08